* {
  margin: 0;
  padding: 0;
}
:root {
    --primary: #0D0D0D;
    --secondary: #EFF0F3;
    --tertiary:  #D9376E;

}
body{
  font-family: 'Cormorant', sans-serif;
  /* background-color: white; */
  background-color: var(--secondary);
}
a{
  text-decoration: none;
}
/* hero   */
.hero-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-block: 40px;
  padding-inline: 16px;
}
.hero-content a{
  color: var(--primary);
  font-size: 20px;
  font-weight: 700;
}
/* Fin de hero   */
/* main   */
.wrapper-black{
  background-color: #0D0D0D;
  margin-inline-start: 60px;
}
.main-content {

  padding-inline: 16px;
  padding-block-end: 34px;
}
.main-content h2{
  padding-block-start: 40px;
  margin-inline-start: -60px;
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFE;
}
.main-content span{
  color: #0D0D0D;
}
.main-content img{
  padding-block: 24px;
  width: 100%;
}
.main-content p{
  color: var(--tertiary);
  padding: 0 24px 24px 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.description h3{
  color: #EFF0F3;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 39px;
}
.posts{
  padding-block-start: 10px;
}
.list-post li{
  color: #EFF0F3;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  margin: 16px 0px;
}
ul{
  list-style:none;
}
.list-post li::before{
  content: '- ';
}
/* Fin de main   */
/* footer   */
.wrapper{
  margin-inline-start: 76px;
}
.footer-group{
  display: flex;
  flex-direction: row;
}
.footer-content{
  display: flex;
  flex-direction: column;
  margin-inline-end: 40px;

}
.footer-content a{
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #0D0D0D;
  margin: 8px 0px;
}
.footer-content-personal{
  display: block;
  margin-block-end: 50px;
}
.footer-content-personal a{
  color: #D9376E;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
}




/* Fin de footer   */
/* BLOG *******   */

.section-content {
  counter-reset: titleList;
  position: relative;
}
.section-content:first-of-type{
  margin: 0;
}
.section-content h3{
  font-size: 24px;
  counter-increment: titleList;
  padding-bottom: 8px;
}
.section-content img {
  margin-top: 40px;
  max-inline-size: 100%;
}
.section-content +hr{
  display: none;
}
.section-content ol li{
  line-height: 24px;
}
.section-content ul li{
  margin-bottom: 16px;
}
pre{
  background: #FEC62E;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
}
blockquote{
  margin: 32px 0;
  padding-left: 16px;
  font-size: 24px;
  border-left: 4px solid var(--gray30);
  line-height: 24px;
}
blockquote span{
  color: var(--gray10);

}
blockquote span::before{
  content: '-';
}
  .section-content h3::before{
  content: counter(titleList , decimal) '. ';
}
  .section-content h3::after{
  content: '';
  width: 80px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* ultimos cambios  */
.postsText{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 26px;
  color: #FFFFFE;

  margin-block: 40px 16px;
}
.pink li{
  display: none;
}



/* FIN DE BLOG *******   */


/* Desktop Styles */
@media only screen and (min-width: 961px) {
  /* hero   */
  .hero-content{
    justify-content: flex-end;
    padding-block: 40px;
    padding-inline-end: 160px;
    padding-inline-start: 16px;
    gap: 40px;

  }
  /* Fin de hero   */


  /* main   */
  .wrapper-black{
    margin-inline-start: 90px;
  }
  .main-content img{
    width: 422px;
    padding-inline-start: 80px;
  }
  .text-group{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
  }
  .text-group-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .text-group-column p{
    position: relative;
    left: -100px;
    top: -100px;
     transform: rotate(-270deg);
  }
  .description h3, .postsText {
    color: #FFFFFE;
    font-weight: bold;
    font-size: 28px;
    line-height: 39px;
    width: 422px;
    margin: 16px;
  }

  .postsText{

    margin-inline-start: 80px;
    padding: 0;
  }
  .posts{
    margin-inline-start: 80px;
    padding-block-start: 0px;
    display: flex;
    flex-direction: row;
  }
  .posts h3 {
    /* padding-block-start: 40px; */
  }

  .list-post li{
    margin-inline-start: 0px;
    margin-inline-end: 10px;
    color: #EFF0F3;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
  }
  .list-post  li::before{
    content: ' ';
  }
  ul{
    list-style:none;
  }
  .pink li{
    color: #D9376E;
  }
  /* Fin de main   */
  /* footer   */
  .wrapper{
    margin-block-start: 48px;
    margin-inline-start: 90px;
  }
  .footer-group{
    display: flex;
    flex-direction: row;
  }
  .footer-content{
    display: flex;
    flex-direction: column;
    margin-inline-end: 40px;

  }
  .footer-content a{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #0D0D0D;
    margin: 8px 0px;
  }
  .footer-content-personal{
    display: block;
    margin-block-end: 50px;
  }
  .footer-content-personal a{
    display: none;
    color: #D9376E;
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
  }




  /* Fin de footer   */
  /* BLOG *******   */


}